{% extends "vp_web/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}

<style type="text/css">
</style>

{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "vp_web/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "vp_web/css/tablestyle.css" %}" />

{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'vp_web:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'vp_web:index' %}">vp_web</a>
</div>
{% endblock %}
{% endif %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content %}

   <div class="com_status">
    <h2>
    This is the website to show IC result for DeePhi Cooperation.
    </h2>

    </div>



{% endblock %}

{% block sidebar %}

{% endblock %}

    {% block footer %}
      <div id="footer">
    <p id="copyright">Written by <a href="">Felix Ma</a>. Hosted by <a href="https://www.deephi.com" class="deephi">DeePhi</a>, powered by <a href="http://www.djangoproject.com/">Django</a></p>
    <p class="legal"><a href="/vp_web/about/">About</a> | <a href="/about/faq/">FAQ</a> | <a href="/about/tos/">Terms of service</a> | <a href="/about/legal/">Legal notices</a></p>
  </div>
  {% endblock %}
