{% extends "vp_web/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "vp_web/css/changelists.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "vp_web/css/forms.css" %}" />
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}


{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'vp_web:index' %}">{% trans 'Home' %}</a>
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}

    <form id="changelist-form" method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}

    {% if errornote %}
    <p class="errornote">
        {{errornote}}
    </p>
    {% endif %}

    {% if infos %}


    {% block field_sets %}
    {% for fieldset in infos %}
      {% include "vp_web/includes/fieldset_for_change_point.html" %}
    {% endfor %}
    {% endblock %}
    <fieldset class="module aligned ">

    <div class="results">
    <h2>COMMENTS</h2>
    <table id="result_list">
	<thead>
	    <tr>
		<th scope="col" class="sortable column-type">
		<div class="text">Index</div>
		<div class="clear"></div>
		</th>
		<th scope="col" class="sortable column-type">
		<div class="text">Create</div>
		<div class="clear"></div>
		</th>
		<th scope="col" class="sortable column-type">
		<div class="text">Author</div>
		<div class="clear"></div>
		</th>
		<th scope="col" class="sortable column-type">
		<div class="text">Content</div>
		<div class="clear"></div>
		</th>
	    </tr>
	</thead>
	<tbody>
	    {% for comment in point.pointcomment_set.all %}
	    <tr class="{% cycle 'row1' 'row2' %}">
		<td>{{forloop.counter}}</td>
		<td>{{comment.add_time}}</td>
		<td>{{comment.Assignee}}</td>
		<td>{{comment.content|linebreaks}}</td>
	    </tr>
	    {% endfor %}
	</tbody>
    </table>
    </div>


    <h2>ADD COMMENT</h2>
    <div class="form-row field-type">
    <div>
	<label class="required" for="id_content">Comment:</label>
	<textarea class="vLargeTextField" cols="40" id="id_content" maxlength="900" name="comment" rows="10"></textarea>
    </div>
    </div>

    <div class="submit-row">
        <input type="submit" value="Submit" class="default" name="_save" />
    </div>
    {% endif %}
    
    </form>

{% endblock %}
