{% extends "vp_web/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "vp_web/css/changelists.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "vp_web/css/forms.css" %}" />
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}


{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'vp_web:index' %}">{% trans 'Home' %}</a>
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}

<h2>{{owner}}`s mismatch for {{type}}</h2>

   <div>
    <table>
    <caption>
    </caption>
     <thead>
	    <tr>
            {% for item in header %}
		    <th scope="col" class="sortable column-type">
		    <div class="clear">{{ item }}</div>
            </th>
            {% endfor %}
	    </tr>
    </thead>
    <tbody>
        {% for item in set %}

	    <tr class="{% cycle 'row1' 'row2' %}">
	        <th scope="row" text-align="left"><font color="#417690">{{item.num}}</font></th>
            <td maxlength="200"><a href="{% url 'vp_web:point' pk=item.pk %}"><font color="#417690">{{ item.pk}}</font></a></td>
            <td maxlength="200"><a href="{% url 'vp_web:point' pk=item.pk %}"><font color="#417690">{{ item.name}}</font></a></td>
            <td maxlength="200">{{ item.content}}</td>
	    </tr>
        {% endfor %}
	</tbody>
    </table>
    </div>

{% endblock %}
