{% extends "vp_web/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "vp_web/css/changelists.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "vp_web/css/forms.css" %}" />
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}


{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'vp_web:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'vp_web:component' feature.component.id %}">{{feature.component.name}}</a>
&rsaquo; <a href="{% url 'vp_web:feature' feature.id %}">Feature</a>
&rsaquo; {{ feature.name|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

  {% block pretitle %}
  <div id="object_in_feature">
    <ul class="object-tools">
    <li>
    <a href="{% url 'vp_web:change_feature' feature.id %}" class="historylink">Modified Feature Type</a>
    <a href="{% url 'vp_web:add_verification' feature.id %}" class="addlink">Add Verification Point</a>
    </li>    
  </ul>
  </div>
  {% endblock %}
    <form id="changelist-form" method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}

{% block content %}

    {% if errornote %}
    <p class="errornote">
        {{errornote}}
    </p>
    {% endif %}

    {% if results %}
    <div class="feature_status" id="feature_html">
    <table>
	<thead>
	    <tr>
		<th scope="col" class="sortable column-type">
		<div class="text" id="index_setting">Index</div>
	    </th>
		{% for header in heads %}
		<th scope="col" class="sortable column-type">
		<div class="text">{{ header |capfirst }}</div>
		<div class="clear"></div>
		</th>{% endfor %}
	    </tr>
	</thead>
	<tbody>
	    {% for result in results %}
		<tr class="{% cycle 'row1' 'row2' %}">
            <td id="index_setting">{{forloop.counter}}</td>
            {% for item in result %}{{ item }}{% endfor %}
        </tr>
	    {% endfor %}
	</tbody>
    </table>
    </div>
    {% else %}
    <p class="errornote">There is no verification Point</p>

{% endif %}
    </form>

{% if delete_enable %}
<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="100%" color=#417690 SIZE=3>

<form id="changelist-form" method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
    <div class="submit-row" id="delete_feature">
        <input type="submit" value="Delete this feature" class="default" name="_delete" />
    </div>
</form>
{% endif %}

{% endblock %}
