{% extends "vp_web/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "vp_web/css/changelists.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "vp_web/css/forms.css" %}" />
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}


{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'vp_web:index' %}">{% trans 'Home' %}</a>
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}

   <div>
    <table>
    <h2>Summary</h2>
     <thead>
	    <tr>
            {% for item in owner_status_header %}
		    <th scope="col" class="sortable column-type">
		    <div class="clear">{{ item }}</div>
            </th>
            {% endfor %}
	    </tr>
    </thead>
    <tbody>
        {% for item in owner_status %}

	    <tr class="{% cycle 'row1' 'row2' %}">
            <td maxlength="200">{{ item.owner}}</td>
            <td maxlength="200">{{ item.all_task}}</td>
            <td maxlength="200">{{ item.finished_task}}</td>
            <td maxlength="200">{{ item.finished_status}}</td>
	    </tr>
        {% endfor %}
	</tbody>
    </table>
    </div>

<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="100%" color=#417690 SIZE=3>

    <div class="results">
    <h2>Status</h2>
    <table id="result_list">
	<thead>
	    <tr>
		<th scope="col" class="sortable column-type">
		<div class="text">Index</div>
		<div class="clear"></div>
		</th>
		<th scope="col" class="sortable column-type">
		<div class="text">Feature Type</div>
		<div class="clear"></div>
        </th>
		<th scope="col" class="sortable column-type">
		<div class="text">Feature Point</div>
		<div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-type">
		<div class="text">Feature_tatus</div>
		<div class="clear"></div>
		</th>
        <th scope="col" class="sortable column-type">
		<div class="text">Cover_status</div>
		<div class="clear"></div>
		</th>
        <th scope="col" class="sortable column-type">
		<div class="text">Stimulus_status</div>
		<div class="clear"></div>
		</th>
        <th scope="col" class="sortable column-type">
		<div class="text">Check_way_status</div>
		<div class="clear"></div>
		</th>
		<th scope="col" class="sortable column-type">
		<div class="text">Add time</div>
		<div class="clear"></div>
		</th>
		<th scope="col" class="sortable column-type">
		<div class="text">Modified time</div>
		<div class="clear"></div>
		</th>
	    </tr>
	</thead>
	<tbody>
	    {% for feature in features %}
	    <tr class="{% cycle 'row1' 'row2' %}">
		<td>{{forloop.counter}}</td>
        <td><a href={% url 'vp_web:feature' feature.feature.id %}>{{feature.feature.name}}</a></td>
        <td><a href={% url 'vp_web:point' feature.id %}>{{feature.name}}</a></td>

        {% if feature.get_feature_status_display == '100%' %}
            <td bgcolor="#D6EAF8"><font color="#1B4F72">{{feature.get_feature_status_display}}</font></td>
        {% else %}
            <td>{{feature.get_feature_status_display}}</td>
        {% endif%}

        {% if feature.get_cover_status_display == '100%' %}
            <td bgcolor="#D6EAF8"><font color="#1B4F72">{{feature.get_cover_status_display}}</font></td>
        {% else %}
		    <td>{{feature.get_cover_status_display}}</td>
        {% endif%}

        {% if feature.get_stimulus_status_display == '100%' %}
            <td bgcolor="#D6EAF8"><font color="#1B4F72">{{feature.get_stimulus_status_display}}</font></td>
        {% else %}
		    <td>{{feature.get_stimulus_status_display}}</td>
        {% endif%}

        {% if feature.get_check_way_status_display == '100%' %}
            <td bgcolor="#D6EAF8"><font color="#1B4F72">{{feature.get_check_way_status_display}}</font></td>
        {% else %}
		    <td>{{feature.get_check_way_status_display}}</td>
        {% endif%}

		<td>{{feature.add_time|date:"m-d" }}</td>
		<td>{{feature.modified_time|date:"m-d" }}</td>
	    </tr>
	    {% endfor %}
	</tbody>
	</table>

    </div>

    

{% endblock %}
