{% extends "signoff_check/base_site.html" %}
{% load i18n static vrg_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "signoff_check/css/changelists.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "signoff_check/css/forms.css" %}" />
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}


{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'signoff_check:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'signoff_check:component' feature.component.id %}">{{feature.component.name}}</a>
&rsaquo; <a href="{% url 'signoff_check:feature' feature.id %}">Feature</a>
&rsaquo; {{ feature.name|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <form id="changelist-form" method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}

    {% if errornote %}
    <p class="errornote">
        {{errornote}}
    </p>
    {% endif %}


    {% if results %}
    <div class="results">
    <table id="result_list">
	<thead>
	    <tr>
		{% for header in heads %}
		<th scope="col" class="sortable column-type">
		<div class="text">{{ header |capfirst }}</div>
		<div class="clear"></div>
		</th>{% endfor %}
	    </tr>
	</thead>
	<tbody>
	    {% for result in results %}
		<tr class="{% cycle 'row1' 'row2' %}">{% for item in result %}{{ item }}{% endfor %}</tr>
	    {% endfor %}
	</tbody>
    </table>
    </div>
    {% else %}
    <p class="errornote">There is no verification Point</p>

{% endif %}


    </form>
{% endblock %}
