{% extends "signoff_check/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}

<style type="text/css">
</style>

{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "signoff_check/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "signoff_check/css/tablestyle.css" %}" />

{% endblock %}



{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div id="felix" >
        {% block field_sets %}
        {% for fieldset in signoff_power_infos %}
          {% include "signoff_check/includes/fieldset1.html" %}
        {% endfor %}
        {% endblock %}
    </div>
{#-------------------------------------------------------------------------#}

    <div id="fail_list" class="module">
    {% if tree_summary%}
    <table>
    <caption>
	<a class="section">VCLP Summary</a>
    </caption>
     <thead>
	    <tr>
            {% for item in tree_header %}
		    <th scope="col" class="sortable column-type" align="right">
		    <div class="clear" ><a>{{ item }}</a></div>
            </th>
            {% endfor %}
	    </tr>
    </thead>
    <tbody>
        {% for item in tree_summary%}
	    <tr class="{% cycle 'row1' 'row2' %}">
            <th scope="row" text-align="center"><a href="{% url 'signoff_check:tag' pk=item.pk vtag=item.tag %}"><font color="#417690">{{item.pk}}</font></a></th>
            <th scope="row" text-align="center"><a href="{% url 'signoff_check:tag' pk=item.pk vtag=item.tag %}"><font color="#417690">{{item.severity}}</font></a></th>
            {#<td>{{ item.severity}}</td>#}
            <td>{{ item.stage}}</td>
            {#<td><a href="{% url 'signoff_check:tag' pk=item.pk vtag=item.tag %}">{{ item.tag}}</a></td>#}
            <td>{{ item.tag}}</td>
            <td>{{ item.count}}</td>
            <td>{{ item.waived}}</td>
	    </tr>
        {% endfor %}
	</tbody>
    </table>
    {% else %}
    <h2> {{ cleannote }} </h2>
    {% endif %}
    </div>

<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="100%" color=#417690 SIZE=3>

{% endblock %}

{% block sidebar %}

{% endblock %}
